.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.cartBtn{
    padding-top: 30px;
}
.cart-container{
    height: 400px;
    position: sticky;
    top: 0;
    background-color: hotpink;
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
}